<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RGBSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="RGBSyncV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="PhilipisIP" value="192.168.1.2"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <RGBSync.Properties.Settings>
      <setting name="UseCorsairCue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseCorsairLink" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseLogitech" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseAura" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UsePhilips" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PhilipsIP" serializeAs="String">
        <value/>
      </setting>
      <setting name="UseCorsairLinkCh1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseCorsairLinkCh2" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseCM" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseNovation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseMSI" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowNotification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseRazor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseRazer" serializeAs="String">
        <value>False</value>
      </setting>
    </RGBSync.Properties.Settings>
    <RGBSyncV2.Properties.Settings>
      <setting name="UseCorsairCue" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseCorsairLink" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseLogitech" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseAura" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UsePhilips" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PhilipsIP" serializeAs="String">
        <value/>
      </setting>
      <setting name="UseCorsairLinkCh1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseCorsairLinkCh2" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseCM" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseNovation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseMSI" serializeAs="String">
        <value>False</value>
      </setting>
    </RGBSyncV2.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
